<%= render partial: 'buy_products/navbar'%>
<h1>Buy Products</h1>
<p style='color:red'> <%= flash[:add] %> </p>
<style>
  p{
    margin-left: 100px;
  }
  .card{
    width:250px;
  }
  .flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-container > div {
  background-color: #F1F1F1;
  height:280px;
  width: 270px;
  margin: 25px;
  text-align: center;
  line-height:30px;
  font-size: 20px;
}
</style>
<div class="flex-container">
  <% if @product.present? %>
    <% @product.each do |product| %>
      <div>
      <%= image_tag product.sell_product.image,class:"card-img-top",width:"200",
         height:"140"%><br>
      <div class="card-body">
        <span class="card-title"><%= product.sell_product.name %></span><br>
        Price:<%= product.sell_product.price%><br>
        Description:<%= truncate(product.sell_product.description, length: 10)%><br>
      </div>
      </div>
    <%end %>
  <% else %>
    <%     flash[:message] = "You Need To Buy First" %>
    <p style='color:red'> <%= flash[:message] %> </p>
  <%end%>
</div>
<%= button_to "Buy",show_available_products_buy_products_path, method: :get, class:"btn btn-outline-secondary"%><br>
