<p style='color:red'> <%= flash[:view] %> </p>
<style>
  .card{
    width:250px;
  }
  .flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-container > div {
  background-color: #F1F1F1;
  height:400px;
  width: 400px;
  margin: 25px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}
</style>

<div class="flex-container">
  <div>
  <%= image_tag @product.image,class:"card-img-top",width:"200",
     height:"420"%><br>
  <div class="card-body">
    <h1>Name:- <%= @product.name%></h1>
    Price:- <%= @product.price%><br>
    Description:- <%=@product.description%><br>
    Produict Id:- <%=@product.alphanumeric_id%><br><br>
    <% if user_signed_in? %>
        <% unless current_user.id == @product.user_id %>
          <%= link_to"buy",buy_products_path,method: :get, class:"btn btn-outline-secondary"%>
        <%end%>
    <%else%>
      <% flash[:login] = 'First Login Youself' %>
      <%= link_to"buy",new_user_session_path,method: :get, class:"btn btn-outline-secondary"%>
    <%end%>
  </div>
  </div>
</div>
