<%= render partial: 'buy_products/navbar'%>
<h1>Your Products</h1>
<style>
  p{
    margin-left: 327px;
  }
  .card{
    width:250px;
  }
  .flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-container > div {
  background-color: #F1F1F1;
  height:280px;
  width: 270px;
  margin: 25px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}
</style>
<p style='color:red'> <%= flash[:sell] %> </p>

<%= form_with url: "/sell_products", method: :get do |form| %>
  <%= form.select :choice ,[:name, :alphanumeric_id] %>
  <%= form.text_field :name %>
  <%= form.submit "Search" %>
<% end %>
<%= button_to "+ Sell", new_sell_product_path, method: :get, class:"btn btn-outline-secondary" %><br>

<div class="flex-container">
  <% if @products.present? %>
    <% @products.each do |product| %>
      <div>
      <%= image_tag product.image,class:"card-img-top",width:"200",
         height:"140"%><br>
      <div class="card-body">
        <span class="card-title"><%= product.name%></span><br>
        Price:<%= product.price%><br>
        Description:<%= truncate(product.description, length: 10)%><br>
        <%= link_to"view",view_particular_product_buy_product_path(product),method: :get ,class:"button btn btn-outline-secondary"%>
      </div>
      </div>
    <%end %>
  <% else %>
    <%     flash[:message] = "No Added Product For Sell " %>
    <p style='color:red'> <%= flash[:message] %> </p>
  <%end%>
</div>
